asgiref==3.2.10
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cryptography==2.9.2
Django==3.1
djangorestframework==3.11.1
idna==2.10
pip==20.2.2
psycopg2==2.8.5
pycparser==2.20
pyOpenSSL==19.1.0
PySocks==1.7.1
pytz==2020.1
requests==2.24.0
setuptools
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
wheel==0.34.2
